body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: contents;
}

a {
  color: #00B7FF;
}
footer {
  background-color: #ccc;
  clear: both;
  color: #333;
  text-align: center;
  padding: 50px 0;
  margin-top: 20px;
}
header {
  display: block;
  background-color: #2e64a1;
  padding:  16px 0;
  margin-bottom: 16px;
}

header h1 {
  color: white;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  position: relative;
  bottom: 35px;
  margin-left: 10px;
}

.holder{
  max-width: 960px;
  margin: 0 auto;
}

.form-group{
  margin: 8px 0;
}